[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
main = "python main.py"
